:root {
  --primary-darkkkkk: #322405;
  --primary-base: #fbb217;
  --primary-light: #fffceb;
  --primary-tint4: #c98903;
  --primary-tint5: #e29b04;
  --primary-light-2: #fef6cd;
  --text-title: #121419;
  --text-body: #3c4253;
  --text-label: #757c91;
  --text-caption: #aaaebb;
  --text-white: #fcfcfc;
  --border-light-mode-dark: #c0c4cd;
  --border-light-mode-main: #dddfe4;
  --border-light-mode-light: #e8eaed;
  --background-dark: #f4f4f6;
  --background-main: #f9fafa;
  --background-light: #fff;
  --success-dark: #002a12;
  --success-main: #009d44;
  --success-light: #ebf5ef;
  --success-lighter: #f5faf7;
  --success-dark: #00cc59;
  --warning-dark: #4e2c04;
  --warning-main: #ea840d;
  --warning-light: #fdf3e8;
  --warning-lighter: #fefaf6;
  --error-dark: #500;
  --error-main: #db0000;
  --error-light: #ffebeb;
  --error-lighter: #fffafa;
  --error-dark: #f33;
  --info-dark: #002755;
  --info-main: #0075ff;
  --info-light: #e5f1ff;
  --info-lighter: #f5f9ff;
  --primary-dark-main: #1f1630;
  --primary-dark-tint1: #443d53;
  --grey-90: #f1f2f4;
  --dark-background1: #120e1b;
  --dark-main: #191424;
  --dark-bg-light1: #221a33;
  --dark-border: #40315e;
  --dark-bg2: #1b1529;
  --dark-bg3: #3c2d57;

  /* MUI Grey variables */
  --grey-50: #fafafa;
  --grey-100: #f5f5f5;
  --grey-200: #eeeeee;
  --grey-300: #e0e0e0;
  --grey-400: #bdbdbd;
  --grey-500: #9e9e9e;
  --grey-600: #757575;
  --grey-700: #616161;
  --grey-800: #424242;
  --grey-900: #212121;
  --grey-A100: #f5f5f5;
  --grey-A200: #eeeeee;
  --grey-A400: #bdbdbd; // same as grey-400
  --grey-A700: #616161;
}
