app/out/
app/resources/public/js/compiled/
app/target/
app/*-init.clj
app/*.log
app/.clj-kondo
/.clj-kondo
app/.lsp
/.lsp
.DS_*
# Leiningen
app/.lein-*
app/.nrepl-port

# Node.js dependencies
app/node_modules/

# shadow-cljs cache, port files
app/.shadow-cljs/


#temp
app/resources/public/css/style.css
app/resources/public/css/style.css.map